<form action="/posts" method="POST">
  <input type="text" name="name" placeholder="Name of post">
  <input type="text" name="content" value="Give some content">
  <input type="submit" value="submit"> 
</form>
